body,p,div,html,h1,h2,h3,table {
  font-family: arial;
}

.hide {
  display: none;
}

.half {
  width: 50%;
  float: left;
}

.padded {
  padding: 10px;
}

.relative {
  position: relative;
}

.pageTitle {
  padding-bottom: 100px;
  font-color: red;
  font-family: arial;
}
