.loading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  @include no-select();
  background: $clr_semi_transparent;

  i {
    font-size: 80px;
    color: $clr_green;

    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -34px;
    position: absolute;
  }
}
