.table {
  padding: 10px;
  font-size: 12px;
}

.step {
  width: 1500px;
  font-family: arial;
  margin: auto;
  padding: 100px 100px;
}

.half {
  padding: 25px;
}

.coverpage, .coverpage-dateexported {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding-bottom: 50px;
}

table, tr, th {
  border: 1px solid #262626;
  font-size: 20px;
}

th, tfoot {
  background-color: #999999;
  font-weight: bold;
}

.thead, .tfoot  {
  font-weight: bold;
  background-color: #999999;
}

.pageTitle {
  padding-left: 35px;
  padding-bottom: -30px;
  font-family: arial;
}

.trName {
  text-align: left;
  padding-left: 5%;
  width: 50%;
}

.trCount {
  text-align: right;
  width: 10%;
}

.trPerc {
  text-align: right;
}

.table-total {
  padding-right: 50%;
  margin-right: 200px;
  text-align: left;
  width: 10px;
}


#table-total {
  width: 50px;
}

#dropdown {
  font-color: $clr_grey;
}

.coverpage-reportdate {
  text-align: center;
}

.table-total {
  padding-right: 100px;
  border-width: 10px;
  width: 10px;
}